# Include secrets configuration if it exists
include "secrets.conf"

vercel {
    apiUrl = "https://api.vercel.com"
    projectName = "your vercel project name"  # This will also be used as GitHub repository name
    # Token and teamId are loaded from secrets.conf
}

github {
    # Token is loaded from secrets.conf
    owner = "your github account"
}

app {
    projectRootDir = "git repo directory"
    retryAttempts = 3
    retryDelay = 1000
} 